extends base
block content
  main.main
    .error
      .error__title
        h2.heading-secondary.heading-secondary--error Oops! An error occurred!
        h2.error__emoji 😢 🤯
      .error__msg #{msg}
      a(href='/').btn.btn--green Go Home
